@use "./constants/media-queries";
@use "./constants/colors";

.current-weather {
  width: 100%;
  color: colors.$text-main;

  @media only screen and (min-width: media-queries.$media-mobile) {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title-container {
    display: flex;
    align-items: center;

    &__main {
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (min-width: media-queries.$media-mobile) {
        flex-direction: column;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1em;

    &__city-name {
      font-size: 2em;
      font-weight: bold;
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1em;

    @media only screen and (min-width: media-queries.$media-mobile) {

    }

    &__main {
      font-size: 1.2em;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
    }

    &__sub {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
    }
  }
}