.current-weather {
  width: 100%;
  color: #293845;
}
@media only screen and (min-width: 375px) {
  .current-weather {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.current-weather__title-container {
  display: flex;
  align-items: center;
}
.current-weather__title-container__main {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 375px) {
  .current-weather__title-container__main {
    flex-direction: column;
  }
}
.current-weather__title {
  display: flex;
  align-items: center;
  gap: 1em;
}
.current-weather__title__city-name {
  font-size: 2em;
  font-weight: bold;
}
.current-weather__info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.current-weather__info__main {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.current-weather__info__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.liked {
  color: #ffc800;
}

.not-liked {
  color: #c0c5ce;
}

#like-icon {
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}